.env

# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.egg-info

# Node.js files
node_modules

# IDEs and Editors
.vscode/
.idea/
.DS_Store